@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="projects-react-wrapper">
</div>


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js"></script>
    <script src="~/js/ReactProjects/index.js"></script>
}
