<div class="page-logo">
    <a asp-controller="Home" asp-action="Index" class="page-logo-link d-flex">
        <img class="page-logo-img" src="~/images/aurigo.png" alt="Aurigo" style="width: 70px;" aria-roledescription="logo" />
        <img src="~/images/logo.png" style="width: 50px;" alt="Bid Board" aria-roledescription="logo">
        <span class="page-logo-text mr-1">Bid Board</span>
    </a>
</div>

<style>
    .nav-function-minify:not(.nav-function-top) .page-logo-img {
        display: none; 
    }
</style>