@using Microsoft.AspNetCore.Identity
@* ReSharper disable Html.PathError *@
@inject UserManager<BidBoardUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var userImage = string.IsNullOrWhiteSpace(user?.UserImageUrl??string.Empty) ? "/api/Ad/GetUserImage" : user?.UserImageUrl??string.Empty;
}

<div class="info-card">
    <img src="@userImage" class="profile-image rounded-circle" width="50" alt="@(User?.Identity?.Name??string.Empty)">
    <div class="info-card-text">
        <a href="#" class="d-flex align-items-center text-white">
            <span class="text-truncate text-truncate-sm d-inline-block">
                @ViewBag.User
            </span>
        </a>
        <span class="d-inline-block text-truncate text-truncate-sm">@(User?.Identity?.Name??string.Empty)</span>
    </div>
    <img src="~/images/cover-4-lg.png" class="cover" alt="cover">
</div>