<div id="page-header" class="page-header">
    <div class="hidden-md-down dropdown-icon-menu position-relative">
        <a href="#" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Hide Navigation">
            <i class="fas fa-bars"></i>
        </a>
        <ul>
            <li>
                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minify Navigation">
                    <i class="fas fa-align-left"></i>
                </a>
            </li>
            <li>
                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed" title="Lock Navigation">
                    <i class="fas fa-lock"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="hidden-lg-up">
        <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <div>@ViewData["Title"]</div>
    <div id="config-section" class="ml-auto d-flex hidden-md-down">
        <div class="mt-auto">
        </div>
        <div class="ml-3 d-flex">
            <partial name="_LoginPartial"/>
        </div>
    </div>
</div>
